(
    window_height: 1024.0,
    window_width: 3072.0,
    window_name: "Flappy Pebble :D",
    pebble_width: 90.0,
    pebble_height: 52.0,
    pebble_start_y_range: (
        start: -300.0,
        end: 300.0,
    ),
    pebble_default_velocity: 400.0,
    g_force_acceleration: -400.0,
    moai_width: 100.0,
    moai_height: 1345.0,
    moai_horizontal_distance: 800.0,
    moai_vertical_distance: 300.0,
    moai_height_range: (
        start: -200.0,
        end: 200.0,
    ),
    moai_move_speed: 200.0,
)